section.image-details {
  display: flex;
  justify-content: space-between;
  width: 100%;

  picture {
    width: 50%;

    img {
      width: 100%;
    }
  }

  div {
    width: 45%;

    p {
      font-weight: bold;
      font-size: 1.4rem;
    }

    pre {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px){
  section.image-details {
    flex-direction: column;
    width: 100%;

    picture, div {
      width: 100%;
    }

    div {
      margin-top: 1rem;

      h1 {
        margin-bottom: 1rem;
      }
    }
  }
}