section.require-login {
  max-width: 1000px;
  margin: auto;
  padding-top: 20vh;

  a:last-child {
    margin-left: 1rem;
  }
}

section.login-page {
  h1 {
    line-height: 1rem;
  }
  
  > p {
    font-size: 1.5rem;
  }

  .login-page__choice {
    font-size: 1.2rem;
    margin-bottom: 1rem;

    a {
      color: lightskyblue
    }
  }
  
  form {
    margin: 2rem 0;
    width: 50%;
    
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}