* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  color: var(--black);
}

body {
  padding: 0 var(--bodyPadding);
  width: 100vw;
  overflow-x: hidden;
  position: relative;

  &[noscroll] {
    height: 100vh;
    overflow: hidden;
  }
}

main {
  min-height: calc(100vh - var(--navHeight));
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

*::selection {
  background-color: rgba(255, 255, 255, 0);
}

section {
  padding: 5rem 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  display: inline-block;
  padding: 1.5rem;
  outline: none;
  text-transform: uppercase;
  color: white;
  background: var(--black);
  transition: 0.3s;
  cursor: pointer;
  border: none;
  
  &:hover {
    background: var(--lightBlack);
  }
}

.intersection-observer {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s;
}

.appear {
  transition: 0.8s;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (max-width: 768px){
  h1 {
    font-size: 2.5rem;
  }

  section {
    padding: 3rem 0;
  }
}
